/* about css */

#about {
    /* background: linear-gradient(45deg, transparent 49%, #27496D 49% 51%, transparent 51%) , linear-gradient(-45deg, transparent 49%, #27496D 49% 51%, transparent 51%); */
        /* background-size: 3em 3em; */
        /* background-color: var(--fouth-main-color); */
        /* opacity: 1;   */
    
        background-color: #0a0a0a;
        opacity: 1;
        background-image: radial-gradient( #0a0a0a 0%, #000 100%);
        background-size: 16px 16px;
    position: relative;  
    padding: 10rem 9% 4rem;
    height: auto;
    /* margin-top: -30px; */
  }
  
  .aboutdiv{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;;
  }
  
  .building-img{   
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  
  .building-img img{
    width: 360px; 
    height:auto;
    box-shadow: 0 0 25px rgba(0, 238, 255, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .about-content{ 
  
    display: flex; 
    flex-direction: column;
    flex-wrap: nowrap; 
    gap: 2rem;
    color:#aef;
  }
  
  .about-content ul li{ 
    font-size:1.6rem ;
    row-gap: 1rem;
    list-style: initial;
    color:#aef;
  }
  .about-content h3{
    color: #aef;
  }
  .about-content h1{
    font-size: 5rem; 
    display: flex;
    justify-content: flex-start;
    color:#aaa;
  }
  
  .about-content p{ 
    font-size:1.6rem ;
    color: #aaa;;
  }
  
  
  @media screen and (max-width:988px){
   .aboutdiv{
    flex-direction: column;
   
   }
   .building-img{
  
    width:80%;
   }
   .about-content{
    margin-top:30px;
   }
   .about-content h1{
    text-align: center;
    width:fit-content;
    margin: auto;
   }
   .heading{
    
   }
  }
  @media screen and (max-width:558px){
    .building-img{
      display:none;
    }
    div.heading{
     margin-top: -80px;
       
    }
    .aboutdiv{ 
    grid-template-columns: 1fr 0fr;
    }

    div.heading h1{
      font-size: 3rem;
      width:fit-content;
    
     text-align: center;
    }
    .about-content p{
      font-size: 5rem;
    }
    .about-content ul li{
      font-size: 1rem;
    }

  }
  /* about css */