REACT_APP_WEB3FORMS_ACCESS_KEY=your_access_key
REACT_APP_BACKEND_URL=your_backend_url
# IS_PRODUCTION should be 0 or 1, as for above array's order [localhosturl, productionurl]
REACT_APP_IS_PRODUCTION=0_or_1